*.webm
*.mp4

/*
!.gitignore
!/cppFuncLib
/cppFuncLib/Video\ Courses/*
!/matFuncLib
!/pyFuncLib
/pyFuncLib/.vscode/*
/pyFuncLib/__pycache__/*
!/texEnvLib
/texEnvLib/*.aux
/texEnvLib/*.fls
/texEnvLib/*.gz
/texEnvLib/*.xdv
/texEnvLib/*.log
/texEnvLib/*.fdb_latexmk
